@media only screen and (max-width: 1196px) {
    #home-logo {
        margin-top: -90px !important;
    }
}

@media only screen and (max-width: 991px) {
    #vid-gal video {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    #nav-bar {
        padding: 15px;
    }
}

@media only screen and (max-width: 670px) {
    #home-logo {
        margin-top: -50px !important;
    }
}

@media only screen and (max-width: 553px) {
    #vid-gal video {
        width: 83%;
    }
    
    #bg-vid {
        display: none;
    }
    
    .vid-overlay {
        background-image: url(../images/mob-bg.jpg);
        background-size: cover;
    }
}

@media only screen and (max-width: 450px) {
    #nav-title {
        font-size: 23px;
    }
    
    #overview h2 {
        margin-top: 80px;
    }
    
    #book-me {
        background-image: none !important;
        background-color: #e8e8e8 !important;
        color: #212121 !important;
    }

    #theprice {
        background-color: #212121;
        color: whitesmoke;
    }

    #book-text {
        color: #212121;
    }

    #email-me {
        border: 3px solid #212121;
        color: #212121;
    }

    #sessions h4 {
        color: #212121;
    }
}

@media only screen and (max-height: 670px) {
    #home-logo {
        width: 400px;
        margin-top: -60px !important;
    }
}