@media only screen and (max-width: 1196px) {
    #home-logo {
        margin-top: -90px !important;
    }
}

@media only screen and (max-width: 991px) {
    #vid-gal video {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    #nav-bar {
        padding: 15px;
    }
}

@media only screen and (max-width: 670px) {
    #home-logo {
        margin-top: -50px !important;
    }
}

@media only screen and (max-width: 553px) {
    #vid-gal video {
        width: 83%;
    }
    
    #bg-vid {
        display: none;
    }
    
    .vid-overlay {
        background-image: url(../images/mob-bg.jpg);
        background-size: cover;
    }
}

@media only screen and (max-width: 450px) {
    #nav-title {
        font-size: 20px;
    }
    
    #overview h2 {
        margin-top: 80px;
    }
}

@media only screen and (max-height: 670px) {
    #home-logo {
        width: 400px;
        margin-top: -60px !important;
    }
}