@import url('https://fonts.cdnfonts.com/css/bahnschrift');

body {
    font-family: 'Gothic A1', sans-serif !important
}

::selection {
    background-color: navajowhite;
}
::-moz-selection {
    background-color: navajowhite; /* Gecko Browsers */
}

/* NAV Bar */
#nav-bar {
    background-color: #e8e8e8;
    border: none;
    height: 94px;
}

#nav-title {
    font-family: 'Bahnschrift', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    color: #1d1d1d;
}

#nav-ul li {
    color: #1d1d1d !important;
    font-size: 18px;
    font-family: 'Bahnschrift', sans-serif;
    text-transform: uppercase;
    font-weight: 900 !important;
}

/* HOME Section ------------------------------------- */
#home {
    bottom: 0;
    position: relative;
    z-index: 1000;
    width: 100%;
}

.vid-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
}

#bg-vid {
    position: fixed;
    z-index: -10;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#welcome {
    font-family: 'Bahnschrift', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 35px;
}

#home-logo {
    margin-top: 100px !important;
    margin-bottom: 150px !important;
    display: block;
    margin: 0 auto;
}

#button {
    font-weight: 900;
    background: white;
    border: 3px solid #212121;
    padding: 18px 36px;
    font-size: 30px;
    letter-spacing: 5px;
    color: #212121;
    box-shadow: inset 0 0 0 0 #fff;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    font-family: 'Bahnschrift', sans-serif;
}

#button:hover {
    color: white;
    background-color: #212121;
    box-shadow: inset 400px 0 0 0 #212121;
}

#scroll-down {
    text-decoration: none;
    color: white;
    font-size: 45px;
    font-weight: 100;
}

#down-arrow {
    filter: invert();
    width: 65px;
    transition: 0.3s ease;
}

#down-arrow:hover {
    opacity: 0.7;
    width: 58px;
}

/* ABOUT Section ------------------------------------- */
#overview {
    background-color: #1d1d1d !important;
    color: white;
}

#overview td:last-child {
    padding-left: 30px;
}

#overview h2 {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 36px;
    letter-spacing: 1.2px;
    color: navajowhite;
}

#overview h3 {
    margin-top: -0.5px;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18px;
    letter-spacing: 3.5px;
    color: grey;
    text-transform: uppercase;
    font-style: normal;
}

#overview p {
    color: white;
    line-height: 1.6em;
    font-weight: 600;
    font-size: 17px;
}

grey {
    color: darkgrey;
    letter-spacing: 7px !important;
}

#j-pic {
    padding: 0px !important;
    width: 400px;
    margin: 0 auto;
    //border: 5px solid #212121 !important;
}

/* TOTAL PLAYER DEVELOPMENT Section ------------------------------------- */
#dev {
    background-color: #e8e8e8;
}

#dev ul {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    list-style: none;
    text-align: center;
}

#dev li {
    margin-bottom: 20px;
    font-weight: 500;
}

#dev-header {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 38px;
    font-style: italic;
    font-weight: 900 !important;
    margin-top: 22px !important;
}

#vid-gal {
    margin-top: 30px;
}

#vid-gal video {
    width: 33%;
    height: 217px;
    margin: 0 auto;
    border: 6px solid #212121;
}

#testimonial h3 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 900;
    font-style: normal;
}

/* BOOK ME Section ------------------------------------- */

#book-title {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 72px;
    display: block;
    margin: 0px;
    padding: 0px;
}

#book-me .wow {
    height: 400px;
}

#book-me .wow:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-me .wow:last-child {
    padding-top: 80px;
}

#theprice {
    font-family: 'Bahnschrift', sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px !important;
    color: #212121;
    border-radius: 3px;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 42px;
}

#book-text {
    color: whitesmoke;
    font-weight: 500;
}

#email-me {
    display: block;
    margin: 0 auto;
    padding: 20px 25px;
    width: 200px;
    font-weight: 900;
    border: 4px solid whitesmoke;
    background: transparent;
    color: whitesmoke;
    transition: 0.3s;
    letter-spacing: 0.6px;
    font-size: 16px;
    margin-bottom: 30px;
}

#email-me:hover {
    background-color: whitesmoke;
    color: #1d1d1d;
}

#book-number {
    font-family: 'Bahnschrift', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: -10px;
    font-size: 30px;
}

#sessions {
    margin-top: -20px !important;
}

#sessions h5 {
    font-size: 20px;
    color: #e8e8e8;
}

#sessions h4 {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 48px;
    color: white;
}

/* FOOTER Section ------------------------------------- */
footer {
    background-color: #212121 !important;
}

#follow-me {
    text-align: center;
    z-index: 100;
}

#follow-me h2 {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 42px;
}

.copyright-text {
    margin-top: -60px !important;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Montserrat';
}

.copyright-text a {
    font-weight: 700;
}

#follow-me, .copyright-text {
    margin: 0 auto;
    position: relative;
}